{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block carousel %}{% endblock %}

{% block body %}
<!-- Three columns of text below the carousel -->
        <h3>Meilleurs ventes :</h3>
        <p>Découvrer nos articles les mieux vendus..</p>
        <div class="row">
            {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>    
            {% endfor %}
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Plein d'offre pour<span class="text-muted">vos cadeaux de noël.</span></h2>
                <p class="lead">Découvrez nos offres de noël, vous pourrez trouver votre bonheur dans nos différentes catégories...</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('uploads/noel.jpg')}}" class="img-fluid" />
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Des consoles de votre <span class="text-muted">adolescense.</span></h2>
                <p class="lead">Envie de rejouer à vos consoles de votre jeunesse, alors n'hésitez plus...</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ asset('uploads/console.jpg')}}" class="img-fluid"/>
            </div>
        </div>

        <!-- /END THE FEATURETTES -->

{% endblock %}